.tagDescription {
  background-color: var(--color-blue-10);
  padding: 24px;
  border-radius: 4px;

  .tag {
    display: inline-block;
    padding: 4px 10px;
    background-color: white;
    border: 2px solid var(--color-blue-50);
    border-radius: 2px;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
    margin-bottom: 20px;
    box-shadow: -2px 2px 0px var(--color-blue-50);
  }

  .description {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
    margin-bottom: 12px;
  }

  .usage {
    font-size: var(--font-size-md);
  }
}
