---
import { BasicLayout } from './components/Layouts/BasicLayout';
import { TopBar } from './components/TopBar/TopBar';
import { TopBanner } from './components/TopBanner/TopBanner';
import './index.css';
import commonStyle from './common.module.scss'
---

<!doctype html>
<html lang="en" class="bg-black">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>title</title>
		<style>
		@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
		</style>
	</head>
	<body>

		<div class={commonStyle.bottomBorder}>
			<BasicLayout>
				<TopBar />
			</BasicLayout>
		</div>

		<TopBanner />
	
	</body>
</html>
